body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Myriad Pro;
}

.logo img {
    width: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

header {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1300;
}

.navbar {
    padding: 5px 115px;
}

.navbar,
.nav_menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav_menu {
    padding-top: 10px;
}


/* .list_menu li{
    display: flex;
} */

.logo {
    width: 60px;
}

.logo img {
    width: 100%;
}

.list_menu li {
    margin-right: 40px;
    display: inline-block;
}

.list_menu li a {
    color: #c5c4c3;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    transition: 1s;
}

.list_menu li a.active,
.list_menu li a:hover {
    color: #000;
}

.search {
    position: relative;
}

.search_input {
    border: none;
    outline: none;
    background-color: #c3bfbc;
    border-radius: 25px;
}

.search_btn {
    position: absolute;
    top: 3px;
    right: 25px;
}

.checkbtn {
    cursor: pointer;
    font-size: 30px;
    display: none;
    position: absolute;
    right: 15px;
}

input[type="text" i] {
    padding: 3px 20px;
}