@media (max-width:1922px) {
    .hiking_title {
        left: 22%;
    }
}


/* Mac */

@media (max-width:1400px) {
    .banner_content {
        width: 26%;
    }
    .banner_content_title1 {
        font-size: 60px;
        line-height: 60px;
    }
    .letgo_content1 {
        font-size: 60px;
    }
    .go_image {
        width: 350px;
    }
    .show_more_button {
        font-size: 20px;
    }
    .read_more_button {
        font-size: 20px;
    }
    .hiking_title {
        left: 10%;
    }
    .world_title1,
    .world_title2 {
        font-size: 60px;
    }
    .item_infor,
    .item_infor2 {
        padding: 80px;
    }
}


/* Anthor */

@media (max-width:1200px) {
    .navbar {
        padding: 5px 50px;
    }
    .list_menu li a {
        font-size: 18px;
    }
    .banner_content {
        width: 40%;
    }
    .banner_content_title1 {
        font-size: 50px;
        line-height: 60px;
    }
    .letgo_content1 {
        font-size: 50px;
    }
    .go_list:last-child {
        margin: auto;
        margin-top: 30px;
    }
    .go_image {
        width: 430px;
    }
    .show_more_button {
        font-size: 20px;
    }
    .item_infor {
        padding: 50px;
    }
    .item_infor2 {
        padding: 50px;
    }
    .infor_content1 {
        font-size: 50px;
    }
    .read_more_button {
        font-size: 20px;
    }
    .hiking_title {
        left: 0;
    }
    .world_title1,
    .world_title2,
    .sub_title1 {
        font-size: 50px;
    }
    .sub {
        height: 700px;
    }
    .sub_title3 {
        width: 100%;
    }
}

@media (max-width:992px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 100%;
        height: 500%;
        transition: 1s;
        text-align: center;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .list_menu li a {
        font-size: 22px;
    }
    .search {
        width: 100%;
        float: right;
    }
    .search_input {
        width: 90%;
    }
    input[type="text" i] {
        padding: 5px 20px;
    }
    .search_btn {
        right: 60px;
        top: 3px;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .checkbtn {
        display: block;
    }
    .banner_content {
        width: 50%;
    }
    .banner_content_title1 {
        font-size: 40px;
        line-height: 40px;
    }
    .banner_content_title2 {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .banner_content_title3 {
        margin: 15px 0px;
    }
    .banner_button {
        font-size: 14px;
        padding: 8px;
        width: 120px;
    }
    .banner_content_title4 {
        font-size: 14px;
    }
    .letgo_content1 {
        font-size: 40px;
    }
    .letgo_content2 {
        font-size: 14px;
    }
    .go_list:last-child {
        margin: auto;
        margin-top: 30px;
    }
    .go_image {
        width: 330px;
    }
    .go_content1 {
        font-size: 20px;
    }
    .go_content2 {
        font-size: 14px;
    }
    .show_more_button {
        font-size: 20px;
    }
    .item_infor {
        text-align: center;
        padding: 50px;
    }
    .item_infor2 {
        text-align: center;
        padding: 50px;
    }
    .infor_content1 {
        font-size: 40px;
    }
    .infor_content2 {
        width: 100%;
    }
    .read_more_button {
        font-size: 20px;
        display: flex;
        margin: auto;
    }
    .hiking_title {
        left: 0%;
        top: 30%;
    }
    .lorem_list {
        height: max-content;
        padding-bottom: 20px;
    }
    .lorem_title1 {
        font-size: 20px;
    }
    .lorem_title2 {
        font-size: 14px;
    }
    .lorem_list_content {
        margin-top: 40px;
    }
    .lorem_cotent1 {
        font-size: 60px;
    }
    .lorem_cotent2 {
        font-size: 20px;
    }
    .world_title1,
    .world_title2,
    .sub_title1 {
        font-size: 40px;
    }
    .sub {
        height: 600px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        padding: 5px;
        width: 120px;
    }
    .footer_1 {
        margin-left: 0px;
    }
}

@media (max-width:768px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 100%;
        height: 500%;
        transition: 1s;
        text-align: center;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .list_menu li a {
        font-size: 22px;
    }
    .search {
        width: 100%;
        float: right;
    }
    .search_input {
        width: 90%;
    }
    input[type="text" i] {
        padding: 5px 20px;
    }
    .search_btn {
        right: 60px;
        top: 3px;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .checkbtn {
        display: block;
    }
    .banner_content {
        width: 55%;
    }
    .banner_content_title1 {
        font-size: 24px;
        line-height: 20px;
    }
    .banner_content_title2 {
        font-size: 12px;
        letter-spacing: 3px;
    }
    .banner_content_title3 {
        margin: 10px 0px;
    }
    .banner_button {
        font-size: 12px;
        padding: 8px 20px;
    }
    .banner_content_title4 {
        font-size: 12px;
    }
    .letgo_content1 {
        font-size: 24px;
    }
    .letgo_content2 {
        font-size: 14px;
    }
    .go_list:last-child {
        margin: auto;
        margin-top: 30px;
    }
    /* .go_image {
        width: 480px;
    } */
    .go_content1 {
        font-size: 20px;
    }
    .go_content2 {
        font-size: 14px;
    }
    .show_more_button {
        font-size: 20px;
    }
    .item_infor {
        padding: 50px;
    }
    .item_infor2 {
        padding: 50px;
    }
    .infor_content1 {
        font-size: 30px;
    }
    .read_more_button {
        font-size: 20px;
    }
    .hiking_mountain {
        height: 600px;
    }
    .hiking_mountain_title {
        font-size: 40px;
    }
    .hiking_mountain_title1 {
        width: 80%;
    }
    .lorem_list {
        height: max-content;
        padding-bottom: 20px;
    }
    .lorem_title1 {
        font-size: 20px;
    }
    .lorem_title2 {
        font-size: 14px;
    }
    .lorem_list_content {
        margin-top: 40px;
    }
    .lorem_cotent1 {
        font-size: 60px;
    }
    .lorem_cotent2 {
        font-size: 20px;
    }
    .world_title1,
    .world_title2,
    .sub_title1 {
        font-size: 30px;
    }
    .sub {
        height: 500px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        padding: 8px;
        font-size: 14px;
    }
    .footer_1 {
        margin-left: 0px;
    }
    .footer_col_list_icon {
        margin: 30px 0px;
    }
}

@media (max-width:767px) {
    .go_image {
        width: 480px;
    }
}

@media (max-width:560px) {
    .go_image {
        width: 400px;
    }
}


/* Mobie */

@media (max-width:415px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 100%;
        height: 500%;
        transition: 1s;
        text-align: center;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .list_menu li a {
        font-size: 18px;
    }
    .search {
        width: 100%;
        float: right;
    }
    .search_input {
        width: 90%;
    }
    input[type="text" i] {
        padding: 5px 20px;
    }
    .search_btn {
        right: 40px;
        top: 2px;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .banner_content {
        top: 10%;
        width: 50%;
    }
    .banner_content_title1 {
        font-size: 20px;
        line-height: 20px;
    }
    .banner_content_title2 {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .banner_content_title3 {
        margin: 10px 0px;
    }
    .banner_button {
        padding: 5px;
        font-size: 12px;
    }
    .banner_content_title4 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .letgo_content1 {
        font-size: 20px;
    }
    .letgo_content2 {
        font-size: 12px;
    }
    .go_list {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .go_image {
        width: 390px;
    }
    .go_content1 {
        font-size: 20px;
    }
    .go_content2 {
        font-size: 12px;
    }
    .show_more {
        margin: 20px 0px 50px 0px;
    }
    .show_more_button {
        padding: 5px;
        font-size: 12px;
    }
    .item_infor {
        padding: 40px;
    }
    .item_infor2 {
        padding: 40px;
    }
    .infor_content1 {
        font-size: 20px;
    }
    .infor_content2 {
        font-size: 12px;
        margin: 10px 0px;
    }
    .read_more_button {
        padding: 5px;
        font-size: 12px;
    }
    .hiking_title {
        top: 45px;
        left: 0;
    }
    .hiking_mountain {
        height: 500px;
    }
    .hiking_mountain_title {
        font-size: 20px;
    }
    .hiking_mountain_title1 {
        font-size: 12px;
        width: 80%;
    }
    .world_content {
        top: 60px;
        right: 50px;
    }
    .lorem_list {
        height: fit-content;
    }
    .world_title1 {
        font-size: 20px;
    }
    .world_title2 {
        font-size: 20px;
        line-height: 20px;
    }
    .lorem_content {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .lorem_list_content {
        margin: 30px 0px;
    }
    .lorem_title1 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .lorem_title2 {
        font-size: 12px;
    }
    .lorem_cotent1 {
        font-size: 40px;
    }
    .lorem_cotent2,
    .lorem_cotent3 {
        font-size: 12px;
    }
    .sub {
        height: 400px;
    }
    .sub_title1 {
        font-size: 20px;
    }
    .sub_title2 {
        margin: 10px 0px;
    }
    .sub_title2,
    .sub_input {
        font-size: 12px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        font-size: 12px;
        top: 1px;
        padding: 5px;
    }
    .footer {
        height: fit-content;
        padding-left: 40px;
    }
    .footer_1 {
        margin-left: 0px;
    }
    .footer_col_list_icon {
        margin: 15px 0px 40px 0px;
    }
    .footer_col_big_title {
        font-size: 20px;
    }
    .footer_col {
        font-size: 14px;
    }
    .footer_col>a {
        font-size: 14px;
    }
    .footer_icon {
        font-size: 20px;
    }
}

@media (max-width:376px) {
    .banner_content {
        width: 50%;
        top: 10%;
        left: 8%;
    }
    .go_image {
        width: 350px;
    }
}