/* Talet */

@media(max-width:1024px) {
    .banner_content {
        bottom: 120px;
        left: 100px;
    }
    .banner_content_title1 {
        font-size: 46px;
        line-height: 46px;
    }
    .banner_content_title2 {
        font-size: 12px;
    }
    .go_image {
        width: 280px;
    }
    .item_infor {
        padding: 30px;
    }
    .item_infor2 {
        padding: 30px;
    }
    .infor_content1 {
        font-size: 46px;
    }
    .hiking_title {
        top: 180px;
        left: 0;
    }
    .hiking_mountain_title {
        font-size: 46px;
    }
    .world_content {
        right: 100px;
        top: 230px;
    }
    .world_title1,
    .world_title2 {
        font-size: 46px;
    }
    .sub_list_title {
        top: 150px;
        left: 260px;
    }
    .sub_title3 {
        width: 80%;
    }
    .sub_button {
        padding: 2px 40px 0px;
    }
    input[type="text" i] {
        padding: 1px 20px;
    }
}

@media (max-width:769px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 50%;
        height: 500%;
        transition: 1s;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .search {
        width: 90%;
        float: right;
    }
    .search_btn {
        right: 60px;
    }
    .search_input {
        width: 90%;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .banner_content {
        width: 27%;
        position: absolute;
        /* bottom: 326px; */
        left: 33px;
        top: 90px;
    }
    .banner_content_title1 {
        font-size: 39px;
        line-height: 46px;
    }
    .banner_content_title2 {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .banner_content_title3 {
        margin: 10px 0px;
    }
    .banner_button {
        padding: 4px 15px 1px;
        font-size: 12px;
    }
    .banner_content_title4 {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .go_list {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .go_image {
        width: 220px;
    }
    .item_infor {
        padding: 40px 0px 0px 20px;
    }
    .infor_content1 {
        font-size: 39px;
    }
    .infor_content2 {
        font-size: 16px;
        margin: 10px 0px;
    }
    .read_more_button {
        padding: 8px 16px 4px;
        font-size: 16px;
    }
    .item_infor2 {
        padding: 40px 10px 0px 30px;
    }
    .hiking_title {
        top: 100px;
        left: 0;
    }
    .hiking_mountain_title {
        font-size: 39px;
    }
    .hiking_mountain_title1 {
        font-size: 16px;
    }
    .world_content {
        top: 130px;
        right: 100px;
    }
    .lorem_list {
        height: fit-content;
    }
    .world_title1 {
        font-size: 39px;
    }
    .world_title2 {
        font-size: 39px;
        line-height: 30px;
    }
    .lorem_title1 {
        font-size: 20px;
    }
    .lorem_title2 {
        font-size: 12px;
    }
    .lorem_cotent1 {
        font-size: 40px;
    }
    .lorem_cotent2,
    .lorem_cotent3 {
        font-size: 12px;
    }
    .sub_list_title {
        top: 100px;
        left: 200px;
    }
    .sub_title1 {
        font-size: 39px;
    }
    .sub_title2 {
        margin: 10px 0px;
    }
    .sub_title2,
    .sub_input {
        font-size: 16px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        font-size: 16px;
        padding: 2px 10px 1px
    }
    .footer {
        height: fit-content;
        padding-left: 100px;
        padding-bottom: 30px;
    }
    .footer_1 {
        margin-left: 0px;
    }
    .footer_col_list_icon {
        margin: 15px 0px 40px 0px;
    }
    .footer_col_big_title {
        font-size: 24px;
    }
    .footer_col>a {
        font-size: 18px;
    }
    .footer_icon {
        font-size: 24px;
    }
}


/* Mobie */

@media (max-width:415px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 50%;
        height: 500%;
        transition: 1s;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .search {
        width: 80%;
        float: right;
    }
    .search_input {
        width: 90%;
    }
    .search_btn {
        right: 30px;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .banner_content {
        width: 27%;
        position: absolute;
        /* bottom: 326px; */
        left: 33px;
        top: 50px;
    }
    .banner_content_title1 {
        font-size: 20px;
        line-height: 20px;
    }
    .banner_content_title2 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .banner_content_title3 {
        margin: 10px 0px;
    }
    .banner_button {
        padding: 3px 8px;
        font-size: 10px;
    }
    .banner_content_title4 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .letgo_content1 {
        font-size: 30px;
    }
    .letgo_content2 {
        font-size: 14px;
    }
    .go_list {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .go_image {
        width: 390px;
    }
    .show_more {
        margin: 0px 0px 50px 0px;
    }
    .show_more_button {
        padding: 5px 50px 3px;
        font-size: 20px;
    }
    .item_infor {
        padding: 10px 0px 0px 20px;
    }
    .infor_content1 {
        font-size: 20px;
    }
    .infor_content2 {
        font-size: 12px;
        margin: 10px 0px;
    }
    .read_more_button {
        padding: 3px 8px 0px;
        font-size: 12px;
    }
    .item_infor2 {
        padding: 10px 10px 0px 30px;
    }
    .hiking_title {
        top: 45px;
        left: 0;
    }
    .hiking_mountain_title {
        font-size: 20px;
    }
    .hiking_mountain_title1 {
        font-size: 12px;
    }
    .world_content {
        top: 60px;
        right: 50px;
    }
    .lorem_list {
        height: fit-content;
    }
    .world_title1 {
        font-size: 20px;
    }
    .world_title2 {
        font-size: 20px;
        line-height: 20px;
    }
    .lorem_title1 {
        font-size: 20px;
    }
    .lorem_title2 {
        font-size: 12px;
    }
    .lorem_cotent1 {
        font-size: 40px;
    }
    .lorem_cotent2,
    .lorem_cotent3 {
        font-size: 12px;
    }
    .sub_list_title {
        top: 40px;
        left: 100px;
    }
    .sub_title1 {
        font-size: 20px;
    }
    .sub_title2 {
        margin: 10px 0px;
    }
    .sub_title2,
    .sub_input {
        font-size: 12px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        font-size: 12px;
        top: 3px;
        padding: 5px 10px 1px
    }
    .footer {
        height: fit-content;
        padding-left: 40px;
    }
    .footer_1 {
        margin-left: 0px;
    }
    .footer_col_list_icon {
        margin: 15px 0px 40px 0px;
    }
    .footer_col_big_title {
        font-size: 20px;
    }
    .footer_col {
        font-size: 14px;
    }
    .footer_col>a {
        font-size: 14px;
    }
    .footer_icon {
        font-size: 20px;
    }
}

@media (max-width:376px) {
    .logo {
        margin: auto;
    }
    .nav_menu {
        display: block;
        position: absolute;
        top: 80px;
        right: -100%;
        background-color: white;
        width: 50%;
        height: 500%;
        transition: 1s;
    }
    .list_menu {
        display: grid;
    }
    .list_menu li {
        margin-bottom: 20px;
    }
    .search {
        width: 80%;
        float: right;
    }
    .search_input {
        width: 90%;
    }
    .checkbtn {
        display: block;
    }
    .nav_menu.show {
        right: 0;
    }
    .banner_content {
        width: 27%;
        position: absolute;
        /* bottom: 326px; */
        left: 33px;
        top: 30px;
    }
    .banner_content_title1 {
        font-size: 18px;
        line-height: 20px;
    }
    .banner_content_title2 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .banner_content_title3 {
        margin: 10px 0px;
    }
    .banner_button {
        padding: 2px 8px 1px;
        font-size: 8px;
    }
    .banner_content_title4 {
        font-size: 8px;
        letter-spacing: 0px;
    }
    .letgo_content1 {
        font-size: 30px;
    }
    .letgo_content2 {
        width: 50%;
        margin: auto;
        font-size: 10px;
    }
    .go_list {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .go_image {
        width: 350px;
    }
    .item_infor {
        padding: 10px 0px 0px 20px;
    }
    .infor_content1 {
        font-size: 18px;
    }
    .infor_content2 {
        font-size: 10px;
        margin: 10px 0px;
    }
    .read_more_button {
        padding: 3px 8px 0px;
        font-size: 12px;
    }
    .item_infor2 {
        padding: 10px 10px 0px 30px;
    }
    .hiking_title {
        top: 45px;
        left: 0;
    }
    .hiking_mountain_title {
        font-size: 18px;
    }
    .hiking_mountain_title1 {
        font-size: 10px;
    }
    .world_content {
        top: 60px;
        right: 50px;
    }
    .lorem_list {
        height: fit-content;
    }
    .world_title1 {
        font-size: 20px;
    }
    .world_title2 {
        font-size: 20px;
        line-height: 20px;
    }
    .lorem_title1 {
        font-size: 20px;
    }
    .lorem_title2 {
        font-size: 12px;
    }
    .lorem_cotent1 {
        font-size: 40px;
    }
    .lorem_cotent2,
    .lorem_cotent3 {
        font-size: 12px;
    }
    .sub_list_title {
        top: 40px;
        left: 100px;
    }
    .sub_title1 {
        font-size: 18px;
    }
    .sub_title2 {
        margin: 10px 0px;
    }
    .sub_title2,
    .sub_input {
        font-size: 10px;
    }
    .sub_title3 {
        width: 100%;
    }
    .sub_button {
        font-size: 10px;
        top: 7px;
        padding: 2px 10px 1px
    }
    .footer {
        height: fit-content;
        padding-left: 30px;
    }
    .footer_1 {
        margin-left: 0px;
    }
    .footer_col_list_icon {
        margin: 15px 0px 40px 0px;
    }
    .footer_col_big_title {
        font-size: 18px;
    }
    .footer_col {
        font-size: 14px;
    }
    .footer_col>a {
        font-size: 14px;
    }
    .footer_icon {
        font-size: 18px;
    }
}