* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* FONTS */
    background-color: #f2f2f2;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.banner-home {
    height: 700px;
    position: relative;
}

.banner-home-image {
    height: 700px;
}

.banner-home-image img {
    width: 100%;
    height: 100%;
}

.banner-home-title {
    position: absolute;
    top: 120px;
    right: 60px;
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 34px;
}

.menu-home {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.menu-home-title-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    line-height: 50px;
    color: #D5491C;
}

.under-title {
    width: 40px;
    height: 3px;
    background-color: #d5491c;
}

.veiewmore-menu-home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 175px;
    height: 40px;
    margin-right: 35px;
    background-color: #D5491C;
}

.veiewmore-menu-home:hover {
    background-color: black;
}

.veiewmore-menu-home a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.menu-home-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.menu-item {
    margin-bottom: 40px;
    margin-left: 20px;
    background-color: white;
}

.menu-item-image {
    max-width: 300px;
    height: 300px;
}

.menu-item-image img {
    width: 100%;
    height: 100%;
}

.menu-item-infor {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    line-height: 29px;
    color: black;
    padding: 15px 0px 20px 15px;
}

.menu-item-cost {
    font-family: 'Calistoga', cursive;
    font-size: 18px;
    line-height: 29px;
    color: black;
    opacity: 0.6;
    padding: 0px 0px 15px 15px;
}

.menu-home-petitem {
    background-color: #ffff;
}

.menu-home-petitem .menu-item {
    background-color: #f2f2f2;
}

.all-blog:hover {
    background-color: white;
}

.all-blog a:hover {
    color: black;
}

.menu-buynow {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #D5491C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 15px
}

.menu-buynow a {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    line-height: 26px;
    color: #ffff;
}

.image-between-home {
    max-width: 1920px;
    /* margin-top: -40px; */
    height: 850px;
}

.image-between-home img {
    width: 100%;
    height: 100%;
}

.blog-home {
    height: 600px;
    background-color: black;
}

.blog-homepage {
    display: flex;
    justify-content: center;
}

.blog-home-title {
    background-color: #f2f2f2;
    height: 375px;
    width: 630px;
}

.blog-home-title-1 {
    margin: 60px;
    font-family: 'Calistoga', cursive;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.blog-home-title-2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.blog-home-image {
    height: 375px;
    width: 630px;
}

.blog-home-image img {
    height: 100%;
    width: 100%;
}

.about-home {
    height: 540px;
}

.about-homepage {
    display: flex;
    justify-content: center;
}

.about-home-image {
    height: 375px;
    width: 630px;
}

.about-home-image img {
    width: 100%;
    height: 100%;
}