.success-notice {
    justify-content: center;
}

.success-notice-detail {
    text-align: center;
}

.success-notice-detail-title {
    margin: 20px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #D5491C;
    opacity: 0.9;
}

.link-success-detail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: #D5491C;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    height: 40px;
}

.link-success-detail a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
}