.main {
    width: 1920px;
   
    margin: 40px 0 0;
    padding: 32px 356px 32px 360px;
    background-color: #ffffff;
  }
.header1{
    display: flex;
    width: 1920px;
   height: 40px;
   padding: 0 360px;
  background-color: #92272d;
} 
.title1{
    margin: 11px 388px 10px 0;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.8);
}
.title2{
    
  height: 19px;
  margin: 11px 20px 10px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffffff;
}
.title3{
    
    height: 19px;
    margin: 11px 20px 10px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
}
.title4{
   
    height: 19px;
    margin: 11px 20px 10px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
}
.title5{
    width: 16px;
    height: 4px;
    object-fit: contain;
    color: #ffffff;

}
.main-menu{
    width: 1920px;
    height: 170px;
    padding: 32px 356px 32px 360px;
    background-color: #ffffff;
}
.search{
    display: flex;
   margin-bottom: 32px;
    
   
    background-color: #ffffff;

}
.logo {
    width: 160px;
    height: 34px;
    margin-left: 360px;
    margin-right: 86px;
  }
.logo img{
    width: 160px;
}
.textField{
   
    padding: 13px 700px 13px 16px;
    border-radius: 15px;
    background-color: var(--white);
}
.ul-menu{
    display: flex;
    margin-left: 360px;
}
li{
    list-style: none;
    height: 24px;
    margin: 32px 40px 0;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
}


@media only screen and (max-width : 375px){
    .main-menu{
        width: fit-content;
    }
}