.main{
    max-width: 1920px;

}
.header{
    max-width: 1920px;
    display: flex;
    height: 40px;
    background-color: #92272d;
    justify-content: center;
}
.header-title1{
  height: 19px;
    font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.8);
  
    padding-top: 11px;
}
.search{
  
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.logo{
    width: 161px;
  height: 35px;
  padding-right: 13px;


}
.logo img{
    width: 100%;
}
.deafault-icon{
    width: 24px;
    height: 24px;
}
.inputContents{
    width: 600px;
    height: 50px;
    background-color: var(--white);
    display: flex;
    border-radius: 25px
}
.user-infor{
    display: flex;
}
input{
    width: 100%;
    border: none;
    height: 35px;
    
}
.icon-logo{
    padding-right: 49px;
}

.user1{
   margin-right: 20px;
   margin-left: 62px;
}
.user2{
    margin-right: 20px;
}
.user3{
    margin-right: 20px;
}
.menu{
    padding-top: 40px;
}
li{
    list-style: none;
    margin-right: 40px;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;

}
.ul-menu{
    display: flex;
    margin-left: 60px;
}
.li-menu{
    display:flex;
}
.li-menu-icon{
    margin-left: 3px;
}
.li-deafault-icon {
    width: 17px;
    height: 10px;
}
.banner{
    /* display: flex; */
  max-width: 1440px;
  height: 514px;
  background-color: #ffdbd5;
  position: relative;
}
.banner-title{
    position: absolute;
    max-width: 644px;
    height: 434px;
    background-color: #ffffff;
    margin: 40px 676px 40px 120px;
    padding: 40px;
    z-index: 2;
}
.title1{
    /* max-width: 524px;
    max-height: 112px; */
    margin: 0 0 24px 0;
    font-family: NotoSansCJKkr;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--black-80);
}
.title2{
    /* max-width: 161px;
  max-height: 24px; */
  margin-bottom: 24px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black-60);
}
.title3{
    /* max-width: 468px;
  max-height: 48px; */
  margin-bottom: 40px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black-80);
}
.title4{
    display: flex;
}
.title4-1{
    padding: 9px 32px 9px 32px;
    border: 1px solid blanchedalmond;
    margin-right: 8px;
    border-radius: 25px;
 /* max-height: 24px; */
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #92272d;
}
.title4-2{
    padding: 9px 32px 9px 32px;
    border: 1px solid blanchedalmond;
    border-radius: 25px;
    
  /* max-height: 24px; */
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #92272d;
}
.banner-img{
    position: absolute;
    width: 720px;
    height: 514px;
    top: 0;
    right: 0;


}
.banner-img img{
    width: 100%;
    height: 100%;
}
.title-text1{
margin: 120px 0px 24px 70px;  
  opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.sale{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 70px;
    
}
.sale-item1{
    width: 280px;
    position: relative;


}
.img-sale img{
    width: 100%;

}
.infor-sale{
    margin: 16px 0 8px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-80);
}
.price{
    display: flex;
    margin: 8px 0 0;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-80);
}
.cost{
    text-decoration: line-through;
    margin-right: 8px;
}
.sale-title-top{
    position: absolute;
    top: 8px;
    left: 5px;
    transform: rotate(-45deg);
    font-size: 10px;
    font-family: NotoSansCJKkr;
    color: rgba(255, 255, 255, 0.8);
  

}
.sale-off-top::before{
    border: 39px solid transparent;
    content: "";
    position: absolute;
    top: 0;
    border-left-color: #b2676c;
    border-top-color: #b2676c;
}
.heart{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.8;
    
}
.glass{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 130px;
    right: 12px;
    border-radius: 50%;
    border: 1px solid ;
    opacity: 0.7;
    
}
.bottom{
    margin-left: 12.5px;
    margin-top: 12.5px;
    
}
.sale-off-bottom{
    position: absolute;
    bottom: 120px;
    width: 79px;
  height: 20px;
  margin: 2px 0;
  background-color: #b2676c;
  
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

    
}
.page-sale1{
   max-width:  1920px;
  height: 4px;
  margin: 40px 40px 120px 70px;
  background-color: #d7d7d7;
}
.page-sale1-1{
    width: 282px;
    height: 4px;
    background-color: #b2676c;
}
.title-text2{
    display: flex;
    
    

}
.title-text2-left{
    opacity: 0.8;
    margin: 24px 885px 24px 70px;
    font-family: NotoSansCJKkr;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}
.title-text2-right{
    display: flex;
    font-family: NotoSansCJKkr;
    margin: 24px 70px 24px 0px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
}
.arrow-right{
    margin-left: 8px;

}
.sale2{
    display: flex;
    margin-left: 70px;
}
/* .img-sale2-item{
 
}
.img-sale2-item img{
  width: 100%;
} */
.sale2-item{
    margin-right: 14px;
}
.infor-sale2-1{
    margin-top: 16px;
    font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-80);
  
}
.infor-sale2-2{
    margin-top: 8px;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-60);
  opacity: 0.7;
}
.title-text3{
    display: flex;
    margin-top: 120px;
    margin-left: 70px;
}
.title-text3-1{
    margin-right: 10px;
    opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.title-text3-icon{
    width: 20px;
  height: 20px;
  object-fit: contain;
}
.title-text3-icon svg{
    width: 100%;
    margin-top: 5px;
    opacity: 0.7;
}
.infor-after-title-text3{
    margin:24px 70px 0px 70px;
    padding: 40px 60px;
    border: solid 1px #d7d7d7;

}
.infor-after1{
    margin-bottom: 6px;
    font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-80);
}
.infor-after2{
    margin-bottom: 32px;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--black-80);
}
.infor-after3{
  width: 216px;
  height: 42px;
  padding: 10px 25px;
  border-radius: 21px;
  background-color: #92272d
  
}
.infor-after3-text{
    font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.title-text4{
    display: flex;
}
.title-text4-left{
    margin: 120px 874px 24px 70px;
    opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.title-text4-right{
    display: flex;
    margin: 120px 70px 24px 0px ;
    font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
}
.menu-pickup{
    display: flex;
    margin: 24px;
    margin-left: 70px;
}
.pickup{
    border: solid 1px #d7d7d7;
    width: fit-content;
   height: 42px;
    padding: 10px 16px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-right: 8px;

  }
  .pickup-diff{
    background-color: #92272d;
    font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  }
  .information{
      display: flex;
      justify-content: space-around;
  }
  .sale-information{
      text-align: center;
      flex-basis:20% ;
  }
  .level-icon svg{
      width: 68px;
      height: 74px ;
  }
  .sale-icon svg{
      width: 68px;
      height: 74px;
  }
  .coupon-icon svg{
      width: 74px;
      height: 74px;
  }
  .sale-information-text1{
      margin-top: 24px;
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .sale-information-text2{
      margin-top: 24px;
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.5px;
    text-align: center;
    color: #000000; 
  }
  .sale-information-text3{
    margin-top: 24px;
    margin-left: 75px;
    padding-top: 9px;
    border-radius: 21px;
    border: solid 1px #d7d7d7;
    width: 116px;
  height: 42px;
  }
  .text3-diff{
    margin-top: 43px;
  }
 .title-text5{
   margin-top: 120px;
 }
 .about-us{
   display: flex;
   justify-content: space-around;
   padding-left: 70px;
   padding-right: 70px;
 }
 .thing-1{
  width: 390px;
  height: 288px;
  position: relative;
 }
 .about-img{
  width: 390px;
  /* height: 222px; */

 }
 .about-img img{
   width: 100%;
 }
 .about-infor{
  margin: 16px 0 8px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-80);
 }
 .about-date{
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--black-60);
  opacity: 0.7;
 }
 .about-heart{
   position: absolute;
   top: 15px;
   right: 15px;
   opacity: 0.7;
 }
 .store{
   margin-top: 120px;
   display: flex;
   justify-content: space-around;
   padding-left: 70px;
   padding-right: 70px;
 }
 .store-text-1{
  padding: 24px 50px 8px 15px;
  opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
 }
  .store-text-2{
    padding-left: 15px;
    padding-bottom: 8px;
    opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #000000;
 }
 .store-text-3{
  padding: 10px;
  margin-left: 15px;
  height: 42px;
   width: fit-content;
  border-radius: 21px;
  background-color: #92272d;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.img-footer{
  margin-top: 120px;
  max-width: 1920px;
  height: 89px;
  padding: 25px 70px 25px 70px;
  display: flex;
  border: #d7d7d7 solid 1px;
}
.img-footer-logo{
  width: 141px;
  height: 30px;
  margin-right: 668px;
}
.img-footer-logo img{
  width: 100%;
}
.img-footer-instar{
  width: 22px;
  height: 22px;
  margin-top: 7px;
  margin-right: 16px;
}
.img-footer-instar img{
  width: 100%;
}
.img-footer-facebook{
  width: 22px;
  height: 22px;
  margin-top: 7px;
  margin-right: 16px;
}
.img-footer-facebook img{
  width: 100%;
}
.img-footer-naverblog{
  width: 22px;
  height: 22px;
  margin-top: 7px;
  margin-right: 32px;
}
.img-footer-naverblog img{
  width: 100%;
}
.img-footer-google-play{
  width: 126px;
  height: 38px;
  margin-right: 8px;
}
.img-footer-google-play img{
  width: 100%;
}
.img-footer-app-store{
  width: 126px;
  height: 38px;
}
.img-footer-app-store img{
  width: 100%;
}
.infor-footer{
  display: flex;
  padding: 68px 70px ;
}
.infor-footer-left{
  margin-right: 240px;
}
.infor-footer-left-linkright{
  display: flex;
}
.infor-footer-right{
  display: flex;
}
.infor-footer-left-tilte{
  margin-bottom: 8px;
  opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.infor-footer-left-percent{
  margin-bottom: 12px;
  opacity: 0.5;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black-60);
}
.infor-footer-left-linkright-text{
  margin-right: 8px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
}
.infor-footer-left-linkright-arrow {
  width: 16px;
  height: 12px;
}
.infor-footer-left-linkright-arrow svg{
  width: 100%;
}
.infor-footer-left-phone{
  margin-top: 39px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: var(--black-80);
}
.footer-right-menu li{
  margin-bottom: 12px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--black-80);
}
.menu-li-top{
  
  font-family: NotoSansCJKkr;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000 !important; 
}
.footer-last{
  max-width: 1920px;
  height: 68px;
  padding: 24px 70px;
  display: flex;
  background-color: #92272d;

}
.footer-last1{
  margin-right: 550px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-last2{
  margin: 0 20px 0 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-last0{
  width: 2px;
  height: 12px;
  margin: 4px 20px;
  background-color: #ffffff;
}
.footer-last3{
 
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-last4{
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
}
.logo-icon{
  display: flex;
}
@media ( max-width : 567px){
.inputContents input{
  display: none;
}
.title-text1{
  font-size: 14px;
  margin: 12px 0px 0px 0px;
}
.search,.sale2,.about-us,.information,.store,.footer{
  display: unset;
}
.user1 , .user2 , .user3,.header,.banner,.menu{
  display: none;
}
}
