    * {
        box-sizing: border-box
    }
    /* Slideshow container */
    
    .home_banner {
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    
    .slider_home_banner {
        width: 673px !important;
    }
    
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    
    .carousel-item {
        width: 673px;
        height: 188px;
    }
    
    .carousel-item img {
        height: 100%;
    }
    
    .carousel-indicators {
        bottom: -15px !important;
    }
    
    .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50% !important;
    }
    
    .carousel-control-prev {
        width: 5% !important;
    }
    
    .carousel-control-next {
        width: 5% !important;
    }
    
    .banner-image-home {
        width: 300px;
        padding: 0px 0px 5px 5px;
    }
    
    .banner-image-home-2 {
        width: 300px;
        padding: 5px 0px 0px 5px;
    }
    
    .banner-image-home img {
        width: 100%;
    }
    
    .banner-image-home-2 img {
        width: 100%;
    }
    /* Menu sale */
    
    .menu_sale {
        display: flex;
        justify-content: center;
    }
    
    .menu_sale a {
        margin: 3px;
    }
    
    .img_sale {
        width: 45px;
        margin-left: 18px;
    }
    
    .img_sale img {
        width: 100%;
    }
    
    .title_sale {
        font-size: 12px;
        color: black;
        text-align: center;
        max-width: 90px;
    }
    
    .main-body {
        background-color: #f2f2f2;
    }
    /* Home_page */
    
    .home_page_banner {
        width: 960px;
        margin: auto;
        padding: 30px 0px;
    }
    
    .home_page_banner img {
        width: 100%;
    }
    /* Bigsale */
    
    .big_sale {
        width: 960px;
        margin: auto;
    }
    
    .big_sale_img1 {
        width: 100%;
    }
    
    .big_sale_img2 {
        width: 100%;
    }
    
    .big_sale_sp {
        background-image: url("https://cf.shopee.vn/file/e734d373af541fa98034b3a411b10254");
        background-size: cover;
        padding: 14px;
    }
    
    .big_sale_title {
        margin: 15px;
        color: white;
        font-size: 14px;
    }
    
    .big_sale_list_item {
        display: flex;
    }
    
    .big_sale_item {
        position: relative;
        background-color: white;
        border-right: 1.5px #ee4d2d solid;
    }
    
    .anthor {
        border: none;
    }
    
    .big_sale_item_img {
        width: 180px;
    }
    
    .big_sale_item_img img {
        width: 100%;
        padding: 15px;
    }
    
    .big_sale_item_title {
        width: 50px;
        background-color: rgb(245 204 37 / 90%)
    }
    
    .big_sale_item_title {
        width: 46px;
        height: 40px;
        background: rgb(245 204 37 / 90%);
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
    }
    
    .big_sale_item_title:after {
        content: "";
        display: block;
        position: relative;
        top: -6px;
        width: 0;
        height: 0;
        border-width: 5px 23px 10px 23px;
        border-style: solid;
        border-color: rgb(245 204 37 / 90%) rgb(245 204 37 / 90%) transparent rgb(245 204 37 / 90%);
    }
    
    .title-percent {
        color: white;
    }
    
    .percent {
        color: #ee4d2d;
        margin-bottom: -7px;
    }
    
    .big_sale_item_price {
        text-align: center;
        font-size: 16px;
        margin: 15px;
        color: #ee4d2d;
    }
    
    .category {
        width: 960px;
        margin: auto;
        margin-top: 20px;
        background-color: white;
    }
    
    .link_caterogy_carousel_item {
        border-bottom: 1px solid aqua;
        border-right: 1px solid aqua;
    }
    
    .cateroy_title {
        margin: 10px 20px;
        padding: 15px;
        font-size: 16px;
        color: #bbb;
        font-weight: 400;
    }
    
    .image-carousel_item-list {
        display: -webkit-box;
        overflow: hidden;
        padding: unset;
        position: relative;
    }
    
    .category-button-next {
        position: absolute;
        z-index: 3;
        right: 5px;
        top: 114px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .category-button-next:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .category-button-prev {
        position: absolute;
        z-index: 3;
        left: 5px;
        top: 114px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .category-button-prev:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .image-item {
        width: 81px;
        margin: auto;
    }
    
    .image-item img {
        width: 100%;
    }
    
    .image-carousel-item {
        text-align: center;
        /* width: 106px; */
        transition: 2s;
        /* height: 146px; */
        /* padding: 10px; */
        border: 1px aliceblue solid;
        border-left: none;
    }
    
    .image-item-title {
        color: rgba(0, 0, 0, .8);
        padding: 0px 10px 5px;
        font-size: 14px;
        text-decoration: none;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .flash-sale {
        margin: auto;
        width: 960px;
        background-color: white;
    }
    
    .flash_sale_list_item {
        display: flex;
    }
    
    .flash_sale_item {
        position: relative;
        text-align: center;
    }
    
    .flash_sale_title {
        width: 140px;
        padding: 15px;
    }
    
    .flash_sale_title img {
        width: 100%;
    }
    
    .flash_sale_item_img {
        width: 160px;
    }
    
    .flash_sale_item_img img {
        width: 100%;
    }
    
    .flash_sale_image_1 {
        position: relative;
    }
    
    .flash_sale_image {
        position: absolute;
        z-index: 1;
    }
    
    .flash-img img {
        height: 70% !important;
    }
    
    .flash_sale_item_title {
        width: 46px;
        height: 40px;
        background: rgb(245 204 37 / 90%);
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
    }
    
    .flash_sale_item_title:after {
        content: "";
        display: block;
        position: relative;
        top: -6px;
        width: 0;
        height: 0;
        border-width: 5px 23px 10px 23px;
        border-style: solid;
        border-color: rgb(245 204 37 / 90%) rgb(245 204 37 / 90%) transparent rgb(245 204 37 / 90%);
    }
    
    .flash-sale-sp {
        position: relative;
    }
    
    .flash-button-next {
        position: absolute;
        z-index: 3;
        right: 5px;
        top: 100px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .flash-button-next:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .flash-button-prev {
        position: absolute;
        z-index: 3;
        left: 5px;
        top: 100px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .flash-button-prev:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .flash_sale_item_price {
        text-align: center;
        font-size: 16px;
        margin: 15px;
        color: #ee4d2d;
    }
    
    .flash_sale_bar {
        padding: 0px 8px;
    }
    
    .flash_sale_total {
        height: 16px;
        background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ac7f81d9ee062223753413ec98497a86.png") 0 100% no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 8px;
    }
    
    .flash_sale_total_title {
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        z-index: 2;
        position: absolute;
        width: 100%;
    }
    
    .not_sale {
        width: 100%;
        background: transparent;
        overflow: hidden;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        height: 16px;
        border-radius: 8px;
    }
    
    .not_sale_swtich {
        background: #fff;
        float: right;
        position: relative;
        height: 18px;
    }
    
    .not_sale_swtich_color {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffbda6;
    }
    /* Shopmall */
    
    .shop_mall {
        margin-top: 30px;
    }
    
    .shopmall_list_banner {
        display: flex;
        width: 960px;
        margin: auto;
        margin-top: 30px;
    }
    
    .shopmall_banner {
        width: 330px;
    }
    
    .shopmall_banner img {
        width: 100%;
    }
    
    .shopmall_navbar {
        display: flex;
        width: 960px;
        margin: auto;
        padding: 20px 12px;
        background: white;
        align-items: center;
    }
    
    .shopmall_navbar_title {
        margin: 0px 10px;
    }
    
    .shopmall_title {
        font-size: 15px;
    }
    
    .shopmall_navbar_link {
        margin-left: 165px;
        font-size: 15px;
    }
    
    .shopmall_link {
        color: black;
    }
    
    .shopmall_auto_banner {
        position: relative;
        width: 400px;
        margin: 5px 0px 5px 75px;
    }
    
    .shopmall_auto_img img {
        width: 100%;
    }
    
    .shopmall_list_item {
        width: 805px;
        margin-left: 75px;
        background-color: white;
        margin-bottom: 5px;
    }
    
    .sale_shopmall_list_item {
        display: flex;
        flex-wrap: wrap;
    }
    
    .shopmall_item {
        width: 200px;
    }
    
    .shoomall_item_title {
        margin-top: -30px;
        color: rgba(0, 0, 0, .8);
        margin-bottom: 10px;
    }
    
    .shopmall-button-next {
        position: absolute;
        top: 230px;
        right: 10px;
        z-index: 2;
        font-size: 25px;
        color: black;
        transition: 1.2s;
    }
    
    .shopmall-button-prev {
        position: absolute;
        top: 230px;
        left: 10px;
        z-index: 2;
        font-size: 25px;
        color: black;
        transition: 1.2s;
    }
    
    .shopmall-button-next:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .shopmall-button-prev:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .first_top {
        width: 960px;
        margin: auto;
    }
    
    .first_top_title {
        border-bottom: 1px solid aliceblue;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: white;
    }
    
    .first_top_link_title,
    .first_top_link_icon,
    .first_title {
        color: #ee4d2d;
        font-size: 16px;
    }
    
    .first_top_list_item {
        display: flex;
        position: relative;
        background-color: white;
        margin-left: 13px;
    }
    
    .first_top_item {
        position: relative;
        margin-right: 12px;
        background-color: white;
    }
    
    .first_top_logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
    }
    
    .first_top_logo img {
        width: 100%;
    }
    
    .first_top_title_1 {
        /* position: absolute; */
        font-size: 16px;
        /* bottom: 67px;
        left: 15px; */
        color: white;
        background-color: rgba(0, 0, 0, .26);
        text-align: center;
    }
    
    .first_top_img {
        width: 150px;
    }
    
    .first_top_img img {
        width: 100%;
    }
    
    .first_top_title_2 {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-top: 15px;
        color: #555;
        font-size: 18px;
        text-align: center;
        text-transform: capitalize;
        word-break: break-word;
    }
    
    .top_sale-button-next {
        position: absolute;
        z-index: 3;
        right: 5px;
        top: 100px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .top_sale-button-next:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .top_sale-button-prev {
        position: absolute;
        z-index: 3;
        left: 5px;
        top: 100px;
        transition: 1.2s;
        font-size: 20px;
        color: #ee4d2d;
    }
    
    .top_sale-button-prev:hover {
        cursor: pointer;
        transform: scale(1.4);
    }
    
    .sale_today {
        width: 960px;
        margin: auto;
        /* background: white; */
        margin-top: 30px;
    }
    
    .sale_today_title {
        position: sticky;
        top: 125px;
        z-index: 300;
        background-color: white;
    }
    
    .sale_today_ul {
        display: flex;
        padding: 10px 20px;
        position: relative;
    }
    
    .today_title {
        color: #ee4d2d;
        font-size: 18px;
        font-weight: 400;
    }
    
    .sale_list_today {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .today_title_img {
        margin-left: 60px;
        width: 150px;
    }
    
    .today_title_img img {
        width: 100%;
    }
    
    .today_title::after {
        content: "";
        width: 20%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 3px;
        background-color: #ee4d2d;
    }
    
    .sale_today_img1 {
        width: 180px;
        position: absolute;
    }
    
    .sale_today_img1 img {
        width: 100%;
    }
    
    .sale_today_img2 {
        width: 180px;
        position: relative;
    }
    
    .sale_today_img2 img {
        width: 100%;
    }
    
    .sale_today_item {
        position: relative;
        width: min-content;
        margin-bottom: 10px;
        background-color: white;
    }
    
    .today_love {
        position: absolute;
        left: 0;
        top: 10px;
        display: flex;
        align-items: flex-start;
        z-index: 1;
    }
    
    .sale_today_like {
        background-color: #ee4d2d;
    }
    
    .today_love_title {
        color: #fff;
        font-size: .75rem;
        line-height: .875rem;
    }
    
    .sale_today_item_title {
        font-size: 16px;
        color: black;
        font-weight: 300;
        margin: 10px;
        text-align: center;
    }
    
    .today_price {
        display: flex;
        margin: 0px 0px 10px 0px;
        justify-content: space-around;
        padding-bottom: 10px;
    }
    
    .sale_today_item_price {
        font-size: 14px;
        color: #ee4d2d;
    }
    
    .sold {
        font-size: 14px;
        color: #ee4d2d;
        opacity: 0.8;
    }
    
    .sale_off {
        width: 46px;
        height: 32px;
        background: rgb(245 204 37 / 90%);
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
    }
    
    .sale_off:after {
        content: "";
        display: block;
        position: relative;
        top: -5px;
        width: 0;
        height: 0;
        border-width: 5px 23px 10px 23px;
        border-style: solid;
        border-color: rgb(245 204 37 / 90%) rgb(245 204 37 / 90%) transparent rgb(245 204 37 / 90%);
    }
    
    .sale_off_title1 {
        color: #ee4d2d;
        font-size: 14px;
        margin-bottom: -5px;
    }
    
    .sale_off_title2 {
        color: white;
        font-size: 14px;
    }
    
    .more_item {
        text-align: center;
        margin: 30px;
    }
    
    .button_more {
        padding: 5px 100px;
        background: white;
        border: 1px solid aqua;
        font-size: 16px;
        color: #555;
    }
    
    .more_item a :hover {
        background: rgba(0, 0, 0, .02);
    }
    
    .between {
        width: 100%;
        height: 5px;
        background-color: #ee4d2d;
        margin-top: 60px;
    }